<div class="footer"><!---chân-->   
    <div class="row">
        <div class="col-sm-5">
            <img id="logo_chan" src="../picture/logo.PNG" alt="">
     </div>
     <div class="col-sm-7">    
         <div class="foot_link">
             <a href="">Giới thiệu về Henshin Shop</a>
             <a href="">Các ưu đãi</a>
             <a href="">Tải ứng dụng</a>
             <a href="">Tải ứng dụng Henshin Shop tại:</a>
             <img id="app" src="../picture/appstore.PNG" alt="appstore">
             <img id="app" src="../picture/googleplay.PNG" alt="googleplay">
         </div>
        
         <div class="foot_link">
            <a href="">Xuất xứ han</a>
            <a href="">Gốc học viện </a>
            <a href="">Thư viện</a>
             <a href="">Khu vực miền nam</a>
             <i class="fas fa-phone-volume">&nbsp&nbsp(033)3333333</i>
             <a href="">Hà nội</a>
             <i class="fas fa-phone-volume">&nbsp&nbsp(033)3333333</i><br><br>  
         </div>
         <div class="foot_link">
            
         </div>
     </div>
    </div>
   <div class="end">
   <p> © Giấy chứng nhận doanh nghiệp số: 0313548147, Ngày cấp giấy phép: 24/11/2015, Nơi cấp: SKHDT TP.HCM</p>
   <p>Trụ Sở Chính Tại 189 Nguyễn Thị Minh Khai, Phường Phạm Ngũ Lão, Quận 1, Hồ Chí Minh , Điện thoại: 028 3925 9899</p>
       
            <div class="conect">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-youtube"></i>
             </div>
   </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-------khai báo thư viện jquery------>
<script type="text/javascript" src="../js/LD.js"></script>