<div class="dropdown" >
    <div class="chon menu-link1" >
        <a  color: aliceblue; href="/login">Đăng nhập</a>
    </div>
    <div class="chon menu-link2">
        <a href="">Giỏ hàng</a>
                        
    </div>
    <div class="chon menu-link3">
        <a href="/product">Gốc nổi bật</a>
        <div class="submenu submenu-link3">
            <a href="/product">Loại đồ chơi manga</a>
            <a href="/product">Loại trang phục codeplay</a>
        </div>
    </div>
    <div class="chon menu-link4">
        <a href="/about">Giới thiệu</a>
        
    </div>
    <div class="chon menu-link6">
        <a href="/">Trang chủ</a>
        
    </div>
</div>  
</div>