<center>
    <div class="top">  
        <div id="slider">
            <div class="slide">
                <div class="dieuhuong">           
                    <i class="fas fa-angle-double-left" onclick="Back();"></i>
                    <i class="fas fa-angle-double-right" onclick="Next();"></i>        
                    </div>
                        <div class="chuyen_slide">
                            <div class="hinh">
                            <img src="picture/slide1.PNG">
                            <img src="picture/slide2.PNG">            
                            <img src="picture/slide3.PNG"> 
                            <img src="picture/slide4.PNG"> 
                         </div>           
                     </div>
                </div>
           </div>
       
        </div>
    </div>
</center>