<!-- 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
        <link rel="stylesheet" type="text/javascript" href="LandingPage/js">
        
   -->
   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../fontawesome-free-5.12.1-web/fontawesome-free-5.12.1-web/css/all.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="LandingPage.css">
    <script src="LandingPage.js"></script>
</head>

<body>
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg" style="width:100%">
          <div class="text">Caption Text</div>
        </div>
      
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg" style="width:100%">
          <div class="text">Caption Two</div>
        </div>
      
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg" style="width:100%">
          <div class="text">Caption Three</div>
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>
      
      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
   <div class="than">

        <div class="top">
            <img src="../picture/logo.PNG" id="logo" alt="logo">   
                <div class="sub">
                    <div class="subc"><a href="#">Home</a></div>
                    <div class="subc"><a href="#">About</a></div>
                    <div class="subc">
                        <a href="#">Model</a>
                        <div class="subb">
                            <a href="#" id="hi">a</a><br id="hi">
                            <a href="#" id="hi">b</a>
                        </div>   
                    </div>
                    <div class="subc"><a href="#">Contact</a></div>
                    <div class="subc"><a href="#">Login</a></div>
                </div>
        </div>
       
        <!---->
        <!---->
       

        <div class="midle">
                    <div></div>
        </div>
        
        <div class="footer"><!---chân-->
            <div class="row">
                <div class="col-sm-1">
                    <div class="map_right"><!--google map-->
                        <iframe style="box-shadow: 0.3em 0.1em 0.3em #200303, -0.3em 0em 0.3em #200303; width: 700px; height:400px ; margin-top: 100px;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8735508700515!2d106.64208311527449!3d10.744227662723993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e630ac8185f%3A0x7215d0e7dba445e1!2zMTQyIFBo4bqhbSBQaMO6IFRo4bupLCBQaMaw4budbmcgNCwgUXXhuq1uIDYsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1581087317721!5m2!1sen!2s" width="750" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                   </div>
                </div>

                <div class="col-xs-11">
                 <div class="can_le_trai">
                    <div class="foot_link">
                        <a href="">Giới thiệu về VUS</a>
                        <a href="">Các khóa học</a>
                        <a href="">Tìm khóa học phù hợp</a>
                        <a href="">Các trung tâm tiếng anh</a>
                        <a href="">Gốc học viện </a>
                        <a href="">Thư viện</a>
                        <a href="">Tải ứng dụng VUS tại:</a>
                        <img id="app" src="../picture/appstore.PNG" alt="appstore">
                        <img id="app" src="../picture/googleplay.PNG" alt="googleplay">
                    </div>
   
                    <div class="foot_link">
                        <a href="">Tin tức sự kiện</a>
                        <a href="">Cơ hội nghề nghiệp</a>
                        <a href="">Liên hệ</a>
                        <a href="">Chính sách bảo mật</a>
                        <a href="">Điều khoản sử dụng</a>
                        <a href="">Chính sách liên kết</a>
                        <a href="">Thông tin nhà trường</a>
                    </div>
                    <div class="foot_link">
                        <a href="">Khu vực miền nam</a>
                        <i class="fas fa-phone-volume">&nbsp&nbsp(033)3333333</i>
                        <a href="">Hà nội</a>
                        <i class="fas fa-phone-volume">&nbsp&nbsp(033)3333333</i><br><br>
                        
                    </div>
                 </div>
             </div>
            </div>
           <div class="end">
           <p> © CÔNG TY CỔ PHẦN QUỐC TẾ ANH VĂN HỘI VIỆT MỸ - Giấy chứng nhận doanh nghiệp số: 0313548147, Ngày cấp giấy phép: 24/11/2015, Nơi cấp: SKHDT TP.HCM</p>
           <p>Trụ Sở Chính Tại 189 Nguyễn Thị Minh Khai, Phường Phạm Ngũ Lão, Quận 1, Hồ Chí Minh , Điện thoại: 028 3925 9899</p>
                <div class="map_right">
                    <div class="conect">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-youtube"></i>
                     </div>
                </div>
           </div>
        </div>
        
         
        <div class="mum">
            <div id="flip"><i class="fas fa-search"></i></div>
            <div id="panel">
                <i class="fas fa-phone-alt"></i>
                <i class="fas fa-envelope-open-text"></i>
                <i class="fas fa-paper-plane"></i>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   </div>
</body>
</html>