
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Landing page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
        
    </head>
    
    <body>
       <div class="than">
    
            <div class="top">
                <img src="/img/logo.PNG" id="logo" alt="logo">   
                    <div class="sub">
                        <div class="subc"><a href="#">Home</a></div>
                        <div class="subc">About</div>
                        <div class="subc">Add to card</div>
                        <div class="subc">Contact</div>
                        <div class="subc">Login</div>
                    </div>
            </div>
    
            <div class="midle">
                        <div></div>
            </div>
            
            <div class="footer">
    
            </div>
       </div>
    </body>
    </html>