    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Landing page</title>

        <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="fontawesome-free-5.12.1-web/fontawesome-free-5.12.1-web/css/all.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
     
        
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        
    </head>
    
    <body>
        <div class="toptop">
            <marquee style="background-color:rgb(246, 247, 250);" behavior="" direction="right"><!-----thanh chạy top----->
                <div class="croll_top">
                    <a href="#"><img style="height:50px; width: 200px; margin-top: -10px;" src="public/picture/sale.PNG" alt="#"></a>
                    <a href="#"><img style="height:50px; width: 50px; margin-top: -10px;" src="public/picture/sale1.PNG" alt="#"></a>Giảm giá cực shock khi mua với hóa đơn trên 2 triệu đồng
                </div>
            </marquee>
        
            <img src="picture/logo.PNG" id="logo" alt="logo">   
    <!---------------------------submenu--------------------------------->
            <div class="dropdown">
                <div class="chon menu-link1">
                    <a href="../login.html">Job Opportunities</a>
                    <div class="submenu submenu-link1">
                        <a href="">Tuyển Dụng Nv</a>
                        <a href="">Teaching at VUS</a>
                    </div>
                </div>
                <div class="chon menu-link2">
                    <a href="">Tin tức sự kiện</a>
                    <div class="submenu submenu-link2">
                        <a href="">Tin tức sự kiện</a>
                        <a href="">Thư viện hình ảnh</a>
                        <a href="">Tra thông tin SM</a>
                    </div>
                </div>
                <div class="chon menu-link3">
                    <a href="">Góc học viên</a>
                    <div class="submenu submenu-link3">
                        <a href="">Học viên tiêu biểu</a>
                        <a href="">Góc vinh danh hv</a>
                    </div>
                </div>
                <div class="chon menu-link4">
                    <a href="">Trung Tâm VUS</a>
                    <div class="submenu submenu-link4">
                        <a href="">Trung tâm VUS VT</a>
                        <a href="">Trung tâm VUS HN</a>
                        <a href="">Trung tâm VUS TP.HCM</a>
                        <a href="">Trung tâm VUS HP</a>               
                    </div>   
                </div>   
                <div class="chon menu-link5">
                    <a href="">Các khóa học</a>
                    <div class="submenu submenu-link5">
                        <a href="">Tìm khóa phù hợp</a>
                        <a href="">4 - 11</a>
                        <a href="">11 - 15</a>
                        <a href="">100% gv nước ngoài</a>
                        <a href="">Luyện thi EILTS, TOIC</a>
                        <a href="">Người đi làm</a>
                    </div>
                </div> 
                <div class="chon menu-link6">
                    <a href="">Giới thiệu về VUS</a>
                    <div class="submenu submenu-link6">
                    </div>
                </div>
            </div>  
        </div>
        <div class="top">
    <!------------------side chuyển động------------------------------->        
            <div id="slider">
                <div class="slide">
                    <div class="dieuhuong">           
                        <i class="fas fa-angle-double-left" onclick="Back();"></i>
                        <i class="fas fa-angle-double-right" onclick="Next();"></i>        
                    </div>
                    <div class="chuyen_slide">
                        <div class="hinh">
                        <img src="picture/slide1.png">
                        <img src="picture/slide2.png">            
                        <img src="picture/slide3.png"> 
                        <img src="picture/slide4.png"> 
                        </div>           
                    </div>
                </div>
            </div>
           
        </div>
           </div>
        <!-----------------Quảng cáo dưới chân trang----------------------
        <div id="show_case">   
            <div id="tat" >
                <a href="#" onclick="hide()">Tắt quảng cáo X</a>
            </div> 
                        
            <div class="video" onclick="watch()">
                <video id="vid" height="auto" width="320px" controls >
                <source src="VUS.mp4" type="video/mp4" >
            </video>
            </div >      
            <div id="mo">
                <a href="#" onclick="show()">Mở quảng cáo</a>
            </div>div
        </div>->
    <-----------------------------phần động js------------------------------------>
    
        
    <!----------------------------------------------------------------------------->
      <div class="middle">
        <div class="map_left">
            <h1 style="color: rgb(28, 9, 97);"><b>Trung Tâm Anh Ngữ VUS</b></h1><br><br>
            <div class="region">
                <i id="dv" style="font-size: 25px; width: 50px;" class="fa fa-map-marked-alt"></i>
                <select id="select" style="height: 30px;" title="This menthod is required" required >     
                    <option>TÌM THEO THÀNH PHỐ</option> 
                    <option>TP.HCM</option>
                    <option>HÀ NỘI</option>
                    <option>VŨNG TÀU</option>
                    <option>BIÊN HÒA</option>
                    <option>BÌNH DƯƠNG</option>
                </select>
                <br><br>
                
                
                <i id="dv" style="font-size: 25px; width: 50px;" class="fa fa-map-marked-alt"></i>
                <select id="select" style="height: 30px;" title="This menthod is required" required>
                    <option>TÌM THEO QUẬN</option>
                    <option id="meo">Q1</option>
                    <option>Q2</option>
                    <option>Q3</option>
                    <option>Q4</option>
                    <option>Q5</option>
                    <option>Q6</option>
                    <option>Q7</option>
                    <option>Q8</option>
                    <option>Q9</option>
                </select>
                <br><br><br>
                <H3 style="float: left; color: rgb(106, 17, 223);">TÌM TẤT CẢ TRUNG TÂM</H3><i style="font-size: 30px; width: 50px; margin-left: 10px; margin-top: -10px;" class="fa fa-map-marked-alt"></i>
                    <i id="menu_map" onclick="showhide();" style="font-size: 30px; width: 40px; margin-left: 10px; margin-top: 15px;" class="fas fa-bars"></i>        
            </div>
            <div class="drop-content"><!--xem địa điểm dạng select submenu-->
                <select id="hide" style=" background-color: rgb(28, 9, 97); display: none;" multiple size="3">
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></opton>    
                </select>
        </div>
        </div>
        <div class="map_right"><!--google map-->
                <iframe style="box-shadow: 0.3em 0.1em 0.3em #200303, -0.3em 0em 0.3em #200303;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8735508700515!2d106.64208311527449!3d10.744227662723993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e630ac8185f%3A0x7215d0e7dba445e1!2zMTQyIFBo4bqhbSBQaMO6IFRo4bupLCBQaMaw4budbmcgNCwgUXXhuq1uIDYsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1581087317721!5m2!1sen!2s" width="750" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="thu">
        <div id="register"><br><br><!--phần đăng ký-->
                <center><h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(184, 32, 32); font-weight: 900;">ĐĂNG KÝ TƯ VẤN ĐỂ NHẬN LỘ TRÌNH HỌC</h2></center><br><br><br>
               
                  <div class="container">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="left" style="width: 400px;">
                                <p>Vui lòng để lại thông tin liên lạc để chúng tôi có thể biết thêm về thông tin khóa học</p><br>
                                <b><h4>Khu vực miền Nam (TP HCM, Bình Dương, Biên Hòa - Đồng Nai, Vũng Tàu)</h4></b>
                                <i style="font-size: 30px;float: left;" class="fa fa-phone-volume">&nbsp&nbsp</i><h3>0374647329</h3>
                                <p>Thứ Hai đến thứ Sáu: 08:30 – 12:00, 13:30 – 18:00 Thứ Bảy: 8:30 – 12:00</p><br>
                                <b><h4>Hà Nội</h4></b>
                                <i style="font-size: 30px;float: left;" class="fa fa-phone-volume">&nbsp&nbsp</i><h3>0376878878</h3>
                                <p>Thứ Hai đến Chủ Nhật: 8:30 - 12:00, 13:30 - 21:00</p>
                            </div>
                           </div>
                            <div class="col-sm-7">
                                <div class="right">
                                    <input id="inp" placeholder="*Tên học viên" type="text">
                                    <input id="inp" placeholder="Ngày tháng năm sinh (dd/mm/yyy)"type="text">
                                    <input id="inp" placeholder="Tên phụ huynh" type="text">
                                    <select id="bem">
                                       <option id="in">THÀNH PHỐ</option>
                                       <option id="in">TP.HCM</option>
                                       <option id="in">HÀ NỘI</option>
                                       <option id="in">BÌNH DƯƠNG</option>
                                       <option id="in">HẢI PHÒNG</option>
                                       <option id="in">...</option>
                                    </select>
                                    <input id="inp" placeholder="*Số điện thoại" type="texts">
                                    <select id="bem">
                                       <option id="in">LOẠI</option>
                                       <option id="in">TIẾNG ANH TRẺ EM</option>
                                       <option id="in">TIẾNG ANH THIẾU NIÊN</option>
                                       <option id="in">LỚP 100% NƯỚC NGOÀI</option>
                                       <option id="in">LUYỆN THI IELTS, TOIC</option>
                                       <option id="in">TIẾNG ANH DÀNH CHO NGƯỜI LỚN</option>
                                    </select>
                                    <input id="inpa" placeholder="Thêm thông tin về nhu cầu học" type="text">    
                                
                                    <div class="send_all">
                                        <a href="#"><i style="margin-top: 11px; font-size: 20px; float: left; margin-left: 25px;" class="far fa-paper-plane"></i></a>
                                        <a href="#"><input id="send" type="button" value="Gửi thông tin"></a>
                                   </div>
                                </div> 
                            </div>
                       </div>
                </div>
                  </div>
        </div>
    
      </div>
    <div class="footer"><!---chân-->
        <div class="row">
            <div class="col-sm-5">
                
         </div>
         <div class="col-sm-7">
             <div class="foot_link">
                 <a href="">Giới thiệu về VUS</a>
                 <a href="">Các khóa học</a>
                 <a href="">Tìm khóa học phù hợp</a>
                 <a href="">Các trung tâm tiếng anh</a>
                 <a href="">Gốc học viện </a>
                 <a href="">Thư viện</a>
                 <a href="">Tải ứng dụng VUS tại:</a>
                 <img id="app" src="picture/appstore.PNG" alt="appstore">
                 <img id="app" src="picture/googleplay.PNG" alt="googleplay">
             </div>
             <div class="foot_link">
                 <a href="">Tin tức sự kiện</a>
                 <a href="">Cơ hội nghề nghiệp</a>
                 <a href="">Liên hệ</a>
                 <a href="">Chính sách bảo mật</a>
                 <a href="">Điều khoản sử dụng</a>
                 <a href="">Chính sách liên kết</a>
                 <a href="">Thông tin nhà trường</a>
             </div>
             <div class="foot_link">
                 <a href="">Khu vực miền nam</a>
                 <i class="fas fa-phone-volume">&nbsp&nbsp(033)3333333</i>
                 <a href="">Hà nội</a>
                 <i class="fas fa-phone-volume">&nbsp&nbsp(033)3333333</i><br><br>
                
             </div>
         </div>
        </div>
       <div class="end">
       <p> © CÔNG TY CỔ PHẦN QUỐC TẾ ANH VĂN HỘI VIỆT MỸ - Giấy chứng nhận doanh nghiệp số: 0313548147, Ngày cấp giấy phép: 24/11/2015, Nơi cấp: SKHDT TP.HCM</p>
       <p>Trụ Sở Chính Tại 189 Nguyễn Thị Minh Khai, Phường Phạm Ngũ Lão, Quận 1, Hồ Chí Minh , Điện thoại: 028 3925 9899</p>
            <div class="map_right">
                <div class="conect">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-youtube"></i>
                 </div>
            </div>
       </div>
    </div>
    
     
    <div class="mum">
        <div id="flip"><i class="fas fa-search"></i></div>
        <div id="panel">
            <i class="fas fa-phone-alt"></i>
            <i class="fas fa-envelope-open-text"></i>
            <i class="fas fa-paper-plane"></i>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-------khai báo thư viện jquery------>
    <script type="text/javascript" src="js/LD.js"></script>
    </body>
    </html>