/*quảng cáo

#show_case{
    position: fixed;
    bottom: 0px;
    right: 1px;
    width: 320px;
}
#tat, #mo {
    width: 100%;
    background-color: rgb(19, 86, 211);
    text-align: right;
    height: 20px;
}
#mo{
    display: none;
}  */

#logo{
  position: absolute;
  margin-top: 33%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  box-shadow: 4px 4px 1px 0px #8998da;
  border: solid 2px rgb(52, 22, 107) ;
}
*{
  margin: 0;
  padding: 0;
}

/*slide động*/
.top{ 
  width: 1380px;
  height: 720px;
}
.slide{
  width: 1380px;
  margin: 0 auto;  /*căn đều 2 bên*/ 
  margin-top: 0px;   
  overflow: hidden; 
}

.chuyen_slide{
  width: 9999px;
  transition: 2s;
}
img{
  width: 1380px;
  height: 400px;
  float: left;
}
.dieuhuong{
  position: absolute;
  color:rgb(11, 15, 7);
  font-size: 50px;
  top: 40%;
}
.dieuhuong i{
  box-shadow: 0.1em 0.1em 0.1em #200303, -0.1em 0.1em 0.4em  #200303;
}
.dieuhuong i:last-child{
  position: relative;
  margin-left:780px;
}
.dieuhuong i:first-child{
   margin-left: 250px;
}

/*select tỉnh quận*/
#select{
  padding-left: 30px;
}
/*menu bar*/
a{
  color: white;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
/*xem địa điểm dạng select submenu*/
.drop-content > select > option {
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  margin:15px;
  border-radius: 5px;
  float: left;
  background-size: 200px;
}
.drop-content{
  position: absolute;
  display: block;
  margin-top: -60px;
  margin-left: 420px;
}
.drop-content > select{
  width: 710px;
  height: 300px;
}
select{
  border-top: none;
  border-left: none;
  border-right: none;
  width: 375px;  
}
/* phân chia 2 bên */
.map_left{
  margin-left: 10%;
  width: 30%;
  margin-top:  50px;   
}
.map_right{
  width: 56%;
  margin-top: -280px;
  margin-left: 40%;
}
/* bảng đăng ký*/
.thu{
  right: 0px;
  height: 580px;
  background-color: rgb(241, 230, 207);
}
#register{
  margin-left: 8%;
  margin-right:6%;
  box-sizing:border-box ;   
}
.left > p{
  font-size: 15px;
}
#bem{
  margin-left: 10px; 
  height: 44px; 
  border: rgb(179, 176, 176) solid 1px;
  font-size: 10px;
}
.left > i{
  color: red;
}
.right{
  width: 810px;
  margin-top: 10px;
  margin-left: -50px;
}
#inp{
  width: 375px;
  height: 40px;
  font-size: 15px;
  margin: 10px;
}
#inpa{
  width: 773px;
  height: 90px;
  font-size: 15px;
  margin: 10px;
}
/*nút send*/
.send_all{
  background-color: rgb(172, 36, 36);
  color: white;
  width: 70px;
  height: 40px;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  margin-left: 10px;
  float: left;
  margin-top: 30px;
}
#send{
  background-color: rgb(172, 36, 36);
  color: white;
  font-size: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  margin-left: 70.5px;
  margin-top: -31px;
  float: left;
  border: none;
}
/* phần động js*/
#mama{
  border-bottom:rgb(204, 201, 201) 0.1px solid;
  margin-left: 110px;
  height: 870px;
  width: 1320px;  
}

#dv{
  position: absolute;/*icon locate map*/
}
/*menu bar*/
.dropdown {
  background-color:white;
  line-height: 60px;
  vertical-align: middle;
  margin-right: 10%;
  height: auto;
  margin-top: -5px;

}
.dropdown a {
   float: right;
   text-align: center;
   text-decoration:none;
   width: 150px;
   font-size:16px;
   color: gray;
 
}
.dropdown a:hover{
   color:red;

}
.submenu {
  display: none;
  position: absolute;
  background-color:white;
  width:150px;
  z-index: 1; 
  box-shadow: 0.1em 0.1em 0.1em #5f8ed4, -0.1em 0.1em 0.4em  #81a6dd;
  margin-top: 60px;

}

.submenu a:hover {
  background-color:rgb(236, 235, 228);  
}
.menu-link2:hover .submenu-link2{
  display: block;
}
.menu-link2{
  float:right;
}
.menu-link3:hover .submenu-link3{
  display:block;
}
.menu-link3{
float:right;
}
.menu-link4:hover .submenu-link4{
  display:block;
}
.menu-link4{
  float:right;
}
.menu-link5:hover .submenu-link5 {
      display: block;
}
.menu-link5 {
  float:right;
}
.croll_top{
  margin-top: 10px;/*top*/
  height: 30px;
  line-height: 30px;
}
/*-----------------------------------------*/
.footer{
  background-color: rgb(58, 133, 184);
  height: 420px;
  border-bottom: solid 1px gray;
  margin-top: 0px;
}
.foot_link{
  box-sizing: content-box;
  margin: 0px;
  padding: 14px;
  display: inline-table;
}
.foot_link a{
  display: block;
  box-sizing: border-box;
  padding: 7px;
  color: rgb(211, 161, 161);
  font-weight: 900;
}
.foot_link a:hover{
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.foot_link img{
  display: block;
  box-sizing: border-box;
  padding: 5px;
  width: 120px;
  height: auto;
  border-radius: 10px;
}
.foot_link i{
  color: white;
}
/*end*/
.end{
  width: 80%;
  margin-left: 10%;
  box-sizing: border-box;
  padding: 10px;
  height: 20px;
  border-top: gray solid 1px;

}
.end p{
  color: rgb(211, 161, 161);
  font-size: 12px;
  margin-top: 20px;
}
.conect{
  width: 20%;
  float: right;
  margin-top: 10px;
}
.conect i{
  padding: 8px;
  color: rgb(250, 240, 240);
  font-size: 38px;
  float: right;
}
/*slidedown cố định*/
#panel, #flip {
  padding: 10px;
  text-align: center;
  background-color: rgb(90, 90, 214);
  border-radius: 30px;
  color: white;

}
#panel i {
  font-size: 25px;
}
#flip i {
  font-size: 25px;
}
#flip:hover{
  cursor: pointer;
}
#flip{
    
}
.mum{
    position: absolute;
    height: 200px;
    right: 10px;
    top: 200px;
    position: fixed;
}
#panel i {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 20px;

}
#panel {
  padding: 10px;
  display: none;
}
.row{
  margin-right: 15px;
}

@media only screen and (max-width: 1300px){
  #logo{
    margin-left: 2%;
    margin-top: 35%;   
  }
  .dieuhuong{
    display: none;
  }
}
@media only screen and (max-width: 1200px){
  #logo{
    margin-left: 2%;
    margin-top: 40%;   
  }
}
@media only screen and (max-width: 537px){
  #logo{
    margin-left: -40%;
    margin-top: 10%;   
  }
}
/**/