<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') -%>
    
    <title>Giới thiệu Henshin Shop</title>    
</head>

<body>

    <a href="/"> <img id="logo" src="../picture/logo.PNG" alt=""></a>
   
      
    <div class="toptop">
        <marquee style="background-color: rgb(230, 166, 141);" behavior="" direction="right"><!-----thanh chạy top----->
            <div class="croll_top">
                <a href="#"><img style="height:50px; width: 200px; margin-top: -10px;" src="../picture/sale.PNG" alt="#"></a>
                <a href="#"><img style="height:50px; width: 50px; margin-top: -10px;" src="../picture/sale1.PNG" alt="#"></a><p style="color:white;">Giảm giá cực shock khi mua với hóa đơn trên 2 triệu đồng</p>
            </div>
        </marquee>       
<!---------------------------submenu--------------------------------->
<div class="dropdown" >
    <div class="chon menu-link1" >
        <a  color: aliceblue; href="/login">Đăng nhập</a>
    </div>
    <div class="chon menu-link2">
        <a href="">Giỏ hàng</a>
                        
    </div>
    <div class="chon menu-link3">
        <a href="/product">Gốc nổi bật</a>
        <div class="submenu submenu-link3">
            <a href="/product">Loại đồ chơi manga</a>
            <a href="/product">Loại trang phục codeplay</a>
        </div>
    </div>
    <div class="chon menu-link4">
        <a href="/about">Giới thiệu</a>
        
    </div>
    <div class="chon menu-link6">
        <a href="/">Trang chủ</a>
        
    </div>
</div>  
</div>
<!------------------side chuyển động------------------------------->  
   
 
    
<!----------------------------------------------------------------------------->
  <center>
     <div class="middle">
        <div class="about">
            <p><b>Giới thiệu Henshin Shop</b></p>
            <h5>Henshin Shop với tiêu chí là thiên đường dành cho fan Manga Anime nên shop quy tụ hầu hết các sản phẩm đặc trưng của truyện tranh và hoạt hình Nhật Bản.</h5>
            <h6>Gian hàng của Henshin Shop nổi bật với các sản phẩm như các tượng (figure), tượng lắp ráp (nendoroid, figma), tượng theo bộ, các phụ kiện dành cho cosplay như kẹp tai mèo, tai thỏ, phi tiêu, kiếm gỗ. Ngoài ra, shop còn có các sản phẩm như bóp ví, túi xách, balo, đồng hồ, nón, thú bông, búp bê, áo thun của Anime Manga.
                Shop đã hoạt động hơn 3 năm nay. Bạn có thể mua hàng tại địa chỉ 146A Phan Văn Trị, P12, Q. Bình Thạnh, TPHCM hoặc mua hàng online tại:</h6>
            <a href="/"></a>
            <iframe style="box-shadow: 0.3em 0.1em 0.3em #200303, -0.3em 0em 0.3em #200303" id="map2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8735508700515!2d106.64208311527449!3d10.744227662723993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e630ac8185f%3A0x7215d0e7dba445e1!2zMTQyIFBo4bqhbSBQaMO6IFRo4bupLCBQaMaw4budbmcgNCwgUXXhuq1uIDYsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1581087317721!5m2!1sen!2s" 
            width="40%" height="50%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <div class="lienhe_about">
                   <p> &#9748;Địa chỉ&#9748;</p>
                   <h6>146A Phan Văn Trị, phường 12, quận Bình Thạnh, TP.HCM</p> 
                   <p> &#9748; Điện thoại&#9748;</p>
                   <h6> 028 3841 0316</p>
                   <p> &#9748;Email&#9748;</p>
                   <h6>takishop2012@gmail.com</p>
                   <p> &#9748;Thời gian làm việc &#9748;</p>
                   <h6>Tất cả các ngày trong tuần / 9:00 AM - 8:00 PM</p>
                </div>
            </div>
     </div>
  </center>
       
<footer>
    <%- include('../partials/footer') -%>
</footer>
</body>
</html>