<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') -%>
    <title>Create</title>  
</head>

<body>
<!---------------------------submenu--------------------------------->
<%- include('../partials/menu') -%>
  <center>
    <div class="middle">
        <div class="login">
            <div class="login_form">          
                <form method="POST" action="/taotaikhoan">
                    <input id="log" name="username" type="text" placeholder="User name" value="chipu">
                    <input id="log" name="password" type="text" placeholder="Password" value="yeuai">
                    <button id="log">Register</button>
                    <p id="log"></p><!--form action dung de tao su kien o node js-->
                </form>
            </div> 
        </div>      
  </div>
  </center>
<footer>
    <%- include('../partials/footer') -%>
</footer>
</body>
</html>