    <!DOCTYPE html>
    <html lang="en">
    <head>
            <%- include('../partials/header') -%>
            <title>Login</title>   
    </head>
    
    <body>   
    <!---------------------------submenu--------------------------------->
    <%- include('../partials/menu') -%>
    <!------------------side chuyển động------------------------------->  
       
    <%- include('../partials/slider') -%>
      
   
      <div class="middle">
        <div class="map_left">
                <br><br>                         
                <i id="dv" style="font-size: 25px; width: 50px;" class="fa fa-map-marked-alt"></i>
                <select id="select" style="height: 30px;" title="This menthod is required" required>
                    <option>TÌM THEO QUẬN</option>
                    <option id="meo">Q1</option>
                    <option>Q2</option>
                    <option>Q3</option>
                    <option>Q4</option>
                    <option>Q5</option>
                    <option>Q6</option>
                    <option>Q7</option>
                    <option>Q8</option>
                    <option>Q9</option>
                </select>
                <br><br>

                <H3 style="float: left; color: rgb(244, 242, 247);box-shadow: 0.1em 0.1em 0.1em #f8f8f8, -0.1em 0.1em 0.4em  #f8f8f8;">TÌM TẤT CẢ TRUNG TÂM</H3>
                <div class="tim">
                    <i style="font-size: 30px; width: 40px; box-shadow: 0.1em 0.1em 0.1em #f8f8f8, -0.1em 0.1em 0.4em  #f8f8f8;" class="fa fa-map-marked-alt"></i>
                    <i id="menu_map" onclick="showhide();" style="font-size: 30px; width: 40px; margin-left: 1px;box-shadow: 0.1em 0.1em 0.1em #f8f8f8, -0.1em 0.1em 0.4em  #f8f8f8;" class="fas fa-bars"></i>
                </div>       

            </div>
            <div class="drop-content"><!--xem địa điểm dạng select submenu-->
                <select id="hide" style=" background-color: rgb(28, 9, 97); display: none;" multiple size="3">
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></option>
                    <option style="background-image: url(admap.PNG);"></opton>    
                </select>
            </div>
            <iframe style="box-shadow: 0.3em 0.1em 0.3em #200303, -0.3em 0em 0.3em #200303;" id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8735508700515!2d106.64208311527449!3d10.744227662723993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e630ac8185f%3A0x7215d0e7dba445e1!2zMTQyIFBo4bqhbSBQaMO6IFRo4bupLCBQaMaw4budbmcgNCwgUXXhuq1uIDYsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1581087317721!5m2!1sen!2s" 
            width="40%" height="380px"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        
    </div>
   
    <div class="thu">
        <div id="register"><br><br><!--phần đăng ký-->
                <center><h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(29, 102, 185); font-weight: 900;">Thông tin khảo sát người tiêu dùng</h2></center><br><br><br>
               
                  <div class="container">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="left" style="width: 400px; text-align: center;">
                                <div class="lienhe_about">
                                    <p> &#9748;Địa chỉ&#9748;</p>
                                    <h6>146A Phan Văn Trị, phường 12, quận Bình Thạnh, TP.HCM</p> 
                                    <p> &#9748; Điện thoại&#9748;</p>
                                    <h6> 028 3841 0316</p>
                                    <p> &#9748;Email&#9748;</p>
                                    <h6>takishop2012@gmail.com</p>
                                    <p> &#9748;Thời gian làm việc &#9748;</p>
                                    <h6>Tất cả các ngày trong tuần / 9:00 AM - 8:00 PM</p>
                                 </div>
                            </div>
                           </div>
                            <div class="col-sm-7">
                                <div class="right">
                                    <input id="inp" placeholder="*Họ và tên" type="text">
                                    <input id="inp" placeholder="Ngày tháng năm sinh (dd/mm/yyy)"type="text">
                                    <input id="inp" placeholder="Địa chỉ thông tin liên lạc" type="text">
                                    <select id="bem">
                                       <option id="inp">THÀNH PHỐ</option>
                                       <option id="inp">TP.HCM</option>
                                       <option id="inp">HÀ NỘI</option>
                                       <option id="inp">BÌNH DƯƠNG</option>
                                       <option id="inp">HẢI PHÒNG</option>
                                    </select>
                                    <input id="inp" placeholder="*Số điện thoại" type="texts">
                                    <select id="bem">
                                       <option id="inp">Sản phẩm yêu thích</option>
                                       <option id="inp">Trang phục codeplay</option>
                                       <option id="inp">Mô hình đồ chơi manga</option>
                                       
                                    </select>
                                    <input id="inpa" placeholder="Thêm thông tin về sản phẩm mong muốn" type="text">    
                                
                                    <div class="send_all">
                                        <a href="#"><i  class="far fa-paper-plane"></i></a>
                                        <a href="#"><p>Gửi thông tin</p>
                                   </div>
                                </div> 
                            </div>
                       </div>
                </div>
                  </div>
        </div>
    
      </div>
  <footer>
    <%- include('../partials/footer') -%>
  </footer>
    </body>
    </html>