<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') -%>
    <title>Login</title>  
</head>
<body>
<!---------------------------submenu--------------------------------->
<%- include('../partials/menu') -%>
<!------------------side chuyển động-------------------------------> 
<%- include('../partials/slider') -%>
<!-------------------------------------------------------------------->
    <footer>
        <%- include('../partials/footer') -%>
    </footer>
</body>
</html>