<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include('../partials/header') -%><!---dùng chung header--->
        <title>PS</title>  
    </head>
    
</head>

<body>       
<!---------------------------submenu--------------------------------->
<%- include('../partials/menu') -%>
<!------------------side chuyển động------------------------------->  
   
<%- include('../partials/slider') -%>
    
<!----------------------------------------------------------------------------->
  
        <div class="about">
            <div class="sp_noi_bat">
            <img src="../picture/noi_bat1.jpg" alt="..">
            <img src="../picture/noi_bat2.jpg" alt="">
            <img src="../picture/noi_bat3.jpg" alt="">
            <img src="../picture/noi_bat4.jpg" alt="">
            <img src="../picture/noi_bat5.jpg" alt="">
            <img src="../picture/noi_bat1.jpg" alt="..">
            <img src="../picture/noi_bat2.jpg" alt="">
            <img src="../picture/noi_bat3.jpg" alt="">
            <img src="../picture/noi_bat4.jpg" alt="">
            <img src="../picture/noi_bat5.jpg" alt="">
            <img src="../picture/noi_bat1.jpg" alt="..">
            <img src="../picture/noi_bat2.jpg" alt="">
            <img src="../picture/noi_bat1.jpg" alt="..">
            <img src="../picture/noi_bat2.jpg" alt="">  
            </div>
        </div>
    
  </center>
<footer>
    <%- include('../partials/footer') -%>
</footer>
</body>
</html>